<div class="row">
    <div class="col s6 menu">
        <div class="valign-wrapper">
            <%= link_to 'Приборы', devices_path, class: 'btn btn-large' %>
        </div>
    </div>
    
    <div class="col s6 menu">
        <div class="valign-wrapper">
            <a href="" class="btn-large">2 link</a>
        </div>
    </div>
</div>
