// Place all the styles related to the devices controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.user-img>img{
    width: 100%;
}
.add-device {
    position: absolute !important;
    right: 20px;
    top: 20px;
}
.tab {
    margin-bottom: 20px;
}
.btn-dev {
    position: absolute;
    left: 20px;
    top: 20px;
}
.back-page {
  position: absolute !important;
  left: 20px;
  top: 20px;
}
