// Place all the styles related to the labs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.code-write>.s3 img {
    float: right;
}
.code-write>.s9>.btn {
    position: absolute;
    bottom: 0;
    right: 0;
}
.code-write {
    position: relative;
}
.text {
    height: 500px !important;
}